.bg-dark{
	color:white;
}

.a{
	color:black;
}


.navbar a{
	color:white;
}
.carousel-index{
	height:400px;
}

.image-index{
	width:95%;
	height:100%;
	margin:auto;
	
}

.w-100{
	height:100%;
}

.margin-layout{
	margin:10px;
}

.dropdown-menu a{
	color:black;
}

.card-img-top{
	width:100%;
	height:100%;
	padding:5px;
}

footer{
	margin:10px;
	text-align:center;
	border-top: 1px solid lightgray;
	height:30px;
}